@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;400&display=swap');

p{
    font-weight: 100;
}
*{
   margin:0; 
   padding:0; 
   font-family: 'Geologica', sans-serif;
   font-size:16px;
   box-sizing: border-box;
   overflow-x:hidden;
}
.second{
    padding: 17px 10px;
    width:100%;
    background-color: #FFC0CB;
  }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:70px;
}
.header-intro{
    width:100%;
    display:flex;
    flex-direction:row; 
    align-items:center;
    justify-content: center;
    padding-top:49px;
    padding-bottom:20px;
}
.intro{
  text-align: center;
  font-size:40px;
  font-family: 'Paytone One', sans-serif;
  color:#E75AA1;
  letter-spacing: 3px;
  gap:20px;
}
.description{
    font-size:25px;
    font-weight:100;
    margin:10px 58px;
    text-align: center;
}
.header-pic{
    width: 50vw;
    height:auto;
    padding-right:12px;
}

.mission{
    color:#262D33; 
    text-align: center;
    font-size:40px;
    font-family: 'Paytone One', sans-serif;
}
.second-container{
    display:flex;
    flex-direction: column;
    gap:20px;
}
#second-description{
   text-align:center;
    margin:0 14vw;
   font-size:20px;
}
.img-grid{
    width:120px;
}
.grid-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
   
}
.total-grid{
    display:flex;
    flex-direction: row;
    gap:40px;
}
.grid-first,.grid-second,.grid-third{
    display: flex;
    gap:70px;
}
.final-grid{
    text-align: center;
    
}
#final{
    width:140px;
}
#special{
    width:130px;
}
.third{
    margin:31px 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom:20px;
}
.third-description{
    margin:0 70px;
}
.domestic{
    font-size: 19px;
}
.order-list{
    padding-top:10px;
    list-style-type:disc;
    text-align: start;
    
}
.help{
    font-size:30px;
   
}
.order-list li{
    list-style-type:disc;
    font-size: 17px;
    padding:5px;
    list-style: circle;
}
   
@media(min-width:835px){
    .header-intro{
        gap:10vw;
       
    }
    .description{
        text-align: center;
    }
    .header-pic{
        padding-right:30px;
        width:58vw;
       
    }
}
@media(max-width:835px){
    .header-pic{
        width:62vw;
        padding-top:20px;
        padding-right:0px;
    }
    .header-intro{
        flex-direction: column;
        padding-top:30px;
    }
    .description{
        text-align:center;
    }
}
@media(max-width:985px){
    .third{
        flex-direction: column;
        gap:20px
    }
    .order-list{
        padding-top:20px;
        text-align: center;
        
    }

    .order-list li{
        font-size:20px;
    }
}
@media(max-width:520px){
    .header-pic{
        width:90vw;
    }
}
@media(max-width:744px){
    .total-grid{
        display:flex;
        flex-direction: column;
        gap:40px;
    }
    .third{
        margin:0; 
        padding-top:20px;
    }
    .third-description{
        text-align: center;
    }

}
@media(max-width:340px){
    .intro{
        font-size:7vw;
    }
    .description{
        font-size:5vw;
    }
    .header-pic{
        width:90vw;
    }

    .grid-first,.grid-second,.grid-third{
        flex-direction: column;
        gap:30px;

    }
    .img-grid,#final,#special{
        width:170px;
        text-align:center;
    }

}